body {
    background: #333333 url(grid.png);
}
#main {
    display: none;
}
#loginBox {
    display: none;
    width: 40%;
    position: relative;
    margin-top: 20%;
}
#loginpwd {
    font-weight: bold;
}
#countDown {
    display: none;
}
#bottomMsg {
    width: 60%;
}