body {
	background: #444 url(carbon_fibre_big.png);
}

#main {
	display: none;
}

#loginBox {
	display: none;
	width: 40%;  
	position: relative;
	margin-top: 20%;  
}
#loginpwd{
	font-weight: bold;
}